# This file serves as an example of what your .env file should look like.
# Replace the variables defined here with those applicable on your own system.
# Then copy the contents into a file called ".env" and place it in project's
# root directory. 

WRDS_USERNAME=jdoe
