# .env.example_alt
# Alternative paths on AWS servers
# AWS
DATA_DIR="/data/unixhome/jdoe/data/example_project"
OUTPUT_DIR="/data/unixhome/jdoe/GitRepositories/example_project/output"
WRDS_USERNAME="jdoe"