AER
arrow
bizdays
car
caret
censReg
clusterSEs
data.table
datawizard
DBI
# DescTools
devtools
dotenv
dtplyr
# dummies
dynlm
effects
estimatr
feisr
fixest
foreign
forstringr
fs
glmnet
haven
# ivfixed
# ivpack
# ivpanel
# ivprobit
# ivreg
janitor
jsonlite
knitr
lfe
lme4
lmtest
# lmtestmaps
lubridate
marginaleffects
MASS
mfx
mgcv
mlogit
modelsummary
multcomp
nlme
# nse
orcutt
# Paneldata
pcse
plm
quantmod
quantreg
Rcpp
rdd
rdrobust
readr
rio
rmarkdown
# roxygen
RPresto
sampleSelection
sandwich
sem
sm
stargazer
survival
systemfit
# testhat
tidymodels
tidyquant
tidyverse
truncreg
tseries
urca
vars
vcd
WDI
wooldridge
writexl
XLConnect
xlsx
# XML
xtable
xts
# xtsparallel
zoo
